code/SmartBox.Console.Service/Service References/ServiceReference1/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Beyondbit.SmartBox.Server.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Beyondbit.SmartBox.Server.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserSession">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserSession" nillable="true" type="tns:UserSession" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserSession" nillable="true" type="tns:ArrayOfUserSession" />
  <xs:complexType name="UserSession">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeviceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserSession" nillable="true" type="tns:UserSession" />
  <xs:complexType name="SystemRuntimeConfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SystemRuntimeConfig" nillable="true" type="tns:SystemRuntimeConfig" />
  <xs:complexType name="ArrayOfSystemRuntimeConfig">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SystemRuntimeConfig" nillable="true" type="tns:SystemRuntimeConfig" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSystemRuntimeConfig" nillable="true" type="tns:ArrayOfSystemRuntimeConfig" />
</xs:schema>